<div style="text-align: center; margin-top: 50px; font-family: Arial, sans-serif;">

  <!-- Interpolation {{ }} : affiche la valeur de "titre" -->
  <h1>{{titre}}</h1>
  <div *ngIf="estConnectee" ; else blocNonConnectee style="margin-bottom: 5px;">
    <h1>{{message}}</h1>
  </div>

  <ng-template #blocNonConnectee>
    <p style="color: red">Veuillez vous connecter</p>
  </ng-template>

  <!-- Event Binding ( ) : appelle changerMessage() au clic -->
  <button (click)="changerMessage()" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">
    Cliquez ici
  </button>
  <p> Compteur : {{compteur}}</p>

</div>

<router-outlet></router-outlet>
